EXPO_PUBLIC_API_URL=http://localhost:4000
EXPO_PUBLIC_GROQ_CHAT_API_KEY=your-chat-groq-api-key
EXPO_PUBLIC_GROQ_VOICE_API_KEY=your-voice-groq-api-key
EXPO_PUBLIC_GROQ_MODEL=llama-3.3-70b-versatile
PORT=4000
MONGODB_URI=mongodb://localhost:27017/Halakat
JWT_SECRET=change-this-in-production
